<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="section" style="padding:0;">
        <div class="container" style="max-width:none;">
            <iframe
                src="/game/client"
                title="Game"
                style="width:100%;height:calc(100vh - 3.25rem);border:0;display:block;"
                allow="fullscreen; autoplay; clipboard-read; clipboard-write;"
                referrerpolicy="no-referrer"
            ></iframe>
        </div>
    </main>
    <%- include('includes/end.ejs') %>
</body>
</html>
