<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Welcome to Chat App</h1>
        <p>Sign up or log in to start chatting with the LLM.</p>
        <a href="/login" class="btn">Login</a>
        <a href="/signup" class="btn">Sign Up</a>
    </main>
    <%- include('includes/end.ejs') %>
</body>
</html>


